{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
{{ form(sortieForm) }}
<button class="btn btn-lg btn-primary" onclick="location.href='../lieux/create'" type="button">Ajouter un lieu</button>
{% endblock %}
