<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Logo Sortir.com</h1>
        <nav>
            {% if app.user != null and 'ROLE_ADMIN' in app.user.roles %}
                <li><a href="campus">Campus</a></li>
            {% endif %}
            <li><a href="index">Acceuil</a></li>
            <li><a href="profile">Mon profil</a></li>
            <li><a href="logout">Se déconnecter</a></li>
        </nav>
        

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
